DOCKER_PHP_VERSION=7.4
DOCKER_DATABASE_ENGINE=mysql
DOCKER_DATABASE_VERSION=5.7
DOCKER_APACHE_VERSION=2.4

PROJECT_DIR=./etc
SRC_ROOT_DIR=./src
WEB_ROOT_DIR=./src/web # Unused since https://github.com/chupikov/php-docker/issues/14
WEB_LOGS_DIR=./logs

CONTAINER_NAME_PHP=docker_test_php
CONTAINER_NAME_DATABASE=docker_test_mysql
CONTAINER_NAME_ADMINER=docker_test_adminer
CONTAINER_NAME_APACHE=docker_test_apache
CONTAINER_PORT_APACHE=80
CONTAINER_PORT_DATABASE=3306

DOCKER_NET_BACKEND=backend
DOCKER_NET_FRONTEND=frontend

DOCKER_DB_ROOT_PASSWORD=admin
DOCKER_DB_NAME=docker_test
DOCKER_DB_USERNAME=docker_test
DOCKER_DB_PASSWORD=docker_test

DOCKER_XDEBUG_REMOTE_HOST=host.docker.internal
