/.idea

/.env
!/logs
/logs/*
!/etc/docker/database/data
/etc/docker/database/data/*
!/etc/docker/database/data-*
/etc/docker/database/data-*/*

/etc/docker/php/php.ini
/etc/docker/apache/apache.conf
