/.idea

/.env
!/logs
/logs/*
!/etc/docker/database/data
/etc/docker/database/data/*
!/etc/docker/database/data-*
/etc/docker/database/data-*/*

/etc/docker/php/php.ini
!/etc/docker/apache/sites-enabled
/etc/docker/apache/sites-enabled/*.conf
